@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    font-family: "Lato", system-ui, -apple-system, "Open Sans", sans-serif;
}
header {
    font-family: "Poppins", system-ui, -apple-system, "Open Sans", sans-serif;
}

@layer base {
    html {
        @apply bg-base-100;
    }

    ::-webkit-scrollbar {
        width: 0.7rem;
        background-color: theme("colors.neutral");
        width: 8px;
        border-radius: 0.5rem;
    }

    ::-webkit-scrollbar-thumb {
        background-color: theme("colors.secondary");
        border-radius: 0.5rem;
    }

    .breadcrumb-next::after {
        padding: 4px;
        font-weight: 800;
        color: theme("colors.dark");
        content: "/";
    }

    .bg-gradient-cover {
        background-color: transparent;
        background-image: linear-gradient(#ffffff38, #162f55);
        background-position-y: 0px;
    }
}
