@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: theme("fontFamily.Lato"), system-ui, -apple-system,
            "Open Sans", sans-serif;
    }

    header {
        font-family: theme("fontFamily.Poppins"), system-ui, -apple-system,
            "Open Sans", sans-serif;
    }

    html {
        @apply bg-base-100;
    }

    ::-webkit-scrollbar {
        @apply w-[0.4rem] bg-neutral;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-secondary rounded-full;
    }
}

@layer components {
    .breadcrumb-next::after {
        @apply p-[4px] font-bold text-dark;
        content: "/";
    }

    .bg-gradient-cover {
        @apply bg-gradient-to-b from-[#ffffff38]  to-[#162f55];
    }

    .loadspin {
        @apply border-[4px] border-secondary border-l-primary rounded-full w-[30px] h-[30px] animate-spin;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}
